%h1 Temperature Converter

.home{ style: 'height: 400px; width: 1200px; position:absolute; top:30%; left:30%'}
  = form_for @temperature_adapter, url: home_convert_path do |f|
    = f.label :value, 'Celsius Temperture'
    = f.number_field :value
    = f.hidden_field :type, value: 'CelsiusTemperature'
    = f.hidden_field :convert_to, value: 'to_farenheit'
    = f.submit 'Get Farenheit Temp'

  %br/
  %br/
  - if @notice
    .success= @notice.html_safe
  - elsif @error
    .error= @error
